
h2 {
    color: #333;
    margin-bottom: 10px;
    margin-left: 25%;
    font-size: 3rem;
    font-family: 'Arial', sans-serif; // 更改字体家族
    font-weight: bold; // 设置字体为粗体
    letter-spacing: 1px; // 设置字距
    line-height: 1.4; // 设置行高
  }
  span{
    color: red;
  }  
  