#header {
    background-color: black; // 使用鲜艳的颜色
    color: #fff; // 文字颜色设置为白色
    text-align: center;
    padding: 40px;
  
    h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.2em;
      opacity: 0.8; // 设置文字透明度
    }

    
  }

