
.result-container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h3 {
    color: orange;
    margin-top: 15px;
    font-size: 2rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;

    li {
      color: black;
      margin-bottom: 5px;
      font-size: 1rem;
    }
  }

  .cele-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 10vw;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }

    img {
      margin-left: 10vw;
      height: 25rem;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }
}
